.login{

    &-header-wrapper{
        padding: 16px;
        height: 100px;
        color: #ffffff;
        background-color: #f74902;
    }

    &__logo{
        max-width: 200px;
    }

    &__header{

        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: fit-content;
        font-family: 'Montserrat', sans-serif;
        
    }

    &__form-container{
        padding: 50px 0px 50px;
        display: flex;
        justify-content: center;
    }

    &__title{
        
        font-size: 25px;
        font-weight: 600;

        &--small{
            text-align: end;
            font-size: 12px;
        }
    }

    &__form{
        width: 30%;

       
    }
    @media (max-width: 768px){
        &__form{
            width:60%
        }
    }
    

}

.isobar{

    &__steps-content{
        min-height: 200px;
        padding: 16px;
        margin-top: 16px;
        text-align: center;
        background-color: #fafafa;
        border: 1px dashed #e9e9e9;
        border-radius: 2px;
    }

    &__box{
        
        padding: 8px;
        margin-top: 16px;
        margin-bottom: 16px;
        border: 3px solid;
        
        &--info{
            border-color: cyan;
            background-color: lightskyblue;
        }
        &--success{
            border-color:chartreuse;
            background-color: darkseagreen;
        }
        &--error{
            width:50%;
            margin:0 auto;
            border-color: crimson;
            background-color: tomato;
        }
        
    }

    &__success-box{
        background-color: lightskyblue;
        padding: 8px;
        margin-top: 16px;
        margin-bottom: 16px;
        border: 3px solid;
        border-color: cyan;
    }
    &__success-box{
        background-color: lightskyblue;
        padding: 8px;
        margin-top: 16px;
        margin-bottom: 16px;
        border: 3px solid;
        border-color: cyan;
    }   
}

.header{

    &-header-wrapper{
        padding: 16px !important;
        height: 100px !important;
        color: white !important;
        background-color: #f74902 !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }


    &__logo{
        max-width: 80px;        
    }

    &__account{
        
        text-align: end;

        &--small{
            margin-top: 16px;
            font-size: 10px;      
            cursor: pointer;      
        }
    }
}

.text-center{
    text-align: center;
}

.main-wrapper{
    background-color: #ffffff;
    padding: 32px;
}


// Overriding class for mobile 

@media (max-width: 768px){
    .ant-table-cell{
        font-size: 8px;
        padding: 6px 2px !important;
    }
} 

